<h1 >Dolgozók</h1>

<hr>
<div>
    <label for="fullname">Név: </label>
    <input type="text" [(ngModel)]="fullname" class="form-control"><br>
    <label for="">Város: </label>
    <input type="text" [(ngModel)]="city" class="form-control"><br>
    <label for="">Fizetés: </label>
    <input type="text" [(ngModel)]="salary" class="form-control"><br>
    <button (click)="addButton()" type="button" class="btn btn-outline-info">Hozzáadás</button>
</div>
<hr>

<table class="table">
    <thead class="table table-striped">
        <tr>
          <th scope="col">Teljes név</th>
          <th scope="col">Város</th>
          <th scope="col">Fizetés</th>
        </tr>
      </thead>
    <tr *ngFor="let employee of employees">

        <td>{{employee.fullname}}</td>

        <td>{{employee.city}}</td>

        <td>{{employee.salary}}</td>
    </tr>
</table>